# Python files
__pycache__/
*.py[cod]

# IDE files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Logs and data files
*.log
*.db

# Compiled files
*.pyd
*.pyo
*.pyc

# Dependency directories
venv/
env/
env2/
env3/

# Other files and directories
*.DS_Store
*.env
*.env.*
node_modules/
